{{!< default}}

{{#post}}

<div class="progress-container">
	<span class="progress-bar"></span>
</div>

<header id="post-header"{{#if feature_image}} class="has-cover" {{/if}}>
	<div class="inner">
		<nav id="navigation">
			{{#if @site.logo}}
			<span class="blog-logo">
				<a href="{{@site.url}}"><img src="{{@site.logo}}" alt="{{t "Blog Logo"}}" /></a>
			</span>
			{{else}}
			<span id="home-button" class="nav-button">
				<a class="home-button" href="{{@site.url}}" title="{{t "Home"}}"><i class="ic ic-arrow-left"></i> {{t "Home"}}</a>
			</span>
			{{/if}}
		</nav>
		<h1 class="post-title">{{{title}}}</h1>
		<span class="post-meta">{{authors separator=", "}} | <time datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMM YYYY"}}</time> | {{reading_time minute=(t "1 min read") minutes=(t "% min read")}}</span>
	</div>
</header>

<main class="content" role="main">
	<article class="{{post_class}}">
		<div class="inner">

			<section class="post-content">
				{{content}}
			</section>

			<section class="post-info">

				<div class="post-share">
					<span class="post-info-label">{{t "Share:"}}</span>
					<a class="twitter" href="https://twitter.com/share?text={{title}}&url={{url absolute="true"}}" onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">
						<i class="ic ic-twitter"></i><span class="hidden">Twitter</span>
					</a>
					<a class="facebook" href="https://www.facebook.com/sharer/sharer.php?u={{url absolute="true"}}" onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;">
						<i class="ic ic-facebook"></i><span class="hidden">Facebook</span>
					</a>
				</div>

				{{#if tags}}
				<aside class="post-tags">
					<span class="post-info-label">{{t "Tags:"}}</span>
					{{tags separator=" "}}
				</aside>
				{{/if}}

				<div class="clear"></div>

			</section>
		</div>
	</article>
</main>

{{/post}}
